section.jumbotron {
    background-color: white
}

body main hr {
    margin-bottom: 3rem;
    margin-top: 3rem;
}

body main h1 {
    height: 50px;
    margin-bottom: 30px;
    overflow: hidden;
}

body main h1.jumbotron-heading {
    height: 0px;
    margin-bottom: 0px;
    overflow: hidden;
}

body main .row {
    width: 1000px;
    margin: 0 auto;
}

body main .row div:nth-child(1) .card {
    background: rgba(167, 33, 98, 0.04);
}

body main .row div:nth-child(2) .card {
    background: rgba(5, 151, 160, 0.05);
}

body main .row div:nth-child(3) .card {
    background: rgba(71, 125, 17, 0.05);
}

body .card {
    border: none;
    border-radius: 16px;
    overflow: hidden;
}

body .card .card-title {
    font-weight: 700;
}

body .card .card-text {
    color: rgba(39, 39, 39, 0.6)
}

body .card .btn {
    background-color: transparent;
    border: none;
    overflow: hidden;
    color: black;
    font-weight: bold;
    border-radius: 5px;
}

body .btn:hover {
    opacity: 0.5
}

body main .row div:nth-child(1) .card .btn {
    border: 2px solid rgba(248, 108, 173, 1);
}

body main .row div:nth-child(2) .card .btn {
    border: 2px solid rgba(108, 206, 248, 1);
}

body main .row div:nth-child(3) .card .btn {
    border: 2px solid rgba(104, 201, 82, 1);
}

